
.homeMain{
    width: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}


@media (min-width: 600px) {
    .homeHeaderContentSelf{
        font-size: 4rem;
        line-height: 5rem;
    }
    .homeHeaderInfo{
        margin: 0 3rem;
        margin-bottom: 13rem;
    }
    .navOptions{
        justify-content: flex-start;
        padding: 1rem 3rem;
        width: calc(100% - 6rem);
    }
    .navOptions a{
        padding-right: 3rem;
        font-size: 1.2rem;
    }

    .homeWorksCategoryItem{
        font-size: 1rem;
        padding: 5px 20px;
    }
}